* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font: 1.2rem;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(#44a4b8 10%, #2e7783 30%, #163f44 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 100%;
}

.btns button {
  outline: 0;
  border: 0;
  font-size: 2.3rem;
  margin: 0 1.5rem;
  color: #fef1f5;
  background-color: transparent;
  transition: all 0.7s ease;
}
.btns button > * {
  cursor: pointer;
}
.btns button:hover {
  color: #f792b0;
}
/**/
/* Heder */
/**/

.heart {
  position: absolute;
  top: 8%;
  right: 7%;
  font-size: 2rem;
  color: #fef1f5;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.7s ease;
}
.heart:hover {
  color: #f792b0;
  transform: scale(1.2);
}

.header h1 {
  font-size: 2.3rem;
  text-shadow: #180b0f 1px 0 1px;
}
/**/
/*main*/
/**/
.main {
  height: 35vh;
}
.img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: #180b0f 3px 5px 20px;
  transition: all 0.7s ease;
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}
.song-name {
  margin: 2rem 0;
  text-shadow: black 2px 0 2px;
  letter-spacing: 2px;
}
.rotate {
  animation-play-state: running;
  box-shadow: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/**/
/* player*/
/**/
.player {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* buttons*/
.btns {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button:nth-child(2) {
  background-color: transparent;
  color: #ff4f84;
  font-size: 3.2rem;
}

/* progress */
.progress-container {
  width: 250px;
  height: 8px;
  background-color: rgba(206, 194, 194, 0.514);
  border-radius: 30px;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}
.progress {
  width: 0;
  height: 8px;
  background-color: #fa729b;
  border-radius: 200px;
  margin-bottom: 2rem;
  transition: width 0.1s linear;
}
.btn-progress {
  cursor: pointer;
  background-color: #ff4f84;
  border-radius: 50%;
  border: none;
  outline: 0;
  padding: 0.4rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transition: all 0.1s linear;
}
.current-time {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translate(-50%, -50%);
}
.song-duration {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translate(-50%, -50%);
}
/* volume*/
.volume {
  position: relative;
  width: 200px;
}
#volume-range {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 20%;
  background: rgba(206, 194, 194, 0.514);
  outline: none;
  opacity: 1;
  transition: opacity 0.2s;
  margin-left: 2rem;
}
/* Mouse-over effects */
#volume-range:hover {
  opacity: 1;
}
#volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff4f84;
  cursor: pointer;
}

#volume-range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff4f84;
  cursor: pointer;
}
.volume-icon {
  position: absolute;
  top: -4px;
  left: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #fef1f5;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.7s ease;
}

.volume-icon:hover {
  color: #f792b0;
}

/* media**/

@media screen and (max-width: 350px) {
  .container {
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
  .header h1 {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .progress-container {
    width: 71.5%;
  }
}
@media screen and (min-width: 600px) {
  .heart {
    top: 8.5%;
    right: 20%;
  }
}
@media screen and (max-height: 600px) {
  .img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-height: 300px) {
  .img {
    display: none;
  }
}
